.line-through {
  text-decoration: line-through;
}

.container {
  margin-top: 30px;
}

.c-tags {
  margin-bottom: 40px;
}

.navbar-burger {
  color: black !important;
}

.ico-color {
  color: teal
}

.card {
  border-radius: 10px;
}

.swal2-toast {
  margin-top: 50px;
}
