.line-through {
  text-decoration: line-through;
}

.container {
  margin-top: 30px;
}

.description{
  word-wrap: break-word;
}

.c-tags {
  margin-bottom: 40px;
}

.navbar-burger {
  color: black !important;
}

.ico-color {
  color: teal
}

.card {
  border-radius: 10px;
}

.swal2-container {
  margin-top: 50px;
}

.small {
  font-size: 12px;
}
